.ticker {
    text-align: center;
}

.label {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -150px;
    transition: all ease-in 0.5s;
}

.value {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -82px;
    transition: all ease-in 0.5s;
}

.tools {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header a {
    display: inline-block;
    margin: 5px 20px;
}