.settings {
    left: 50%;
    margin-left: -300px;
    text-align: center;
    display: block;
    position: absolute;
    width: 600px;
    height: 410px;
    transition: all ease-in 0.5s;
    padding: 15px;
    border-radius: 13px;
    /* color: #878b90; */
}

.form-control {
    /* color: #878b90; */
}

p {
    margin: 0px;
    font-weight: bold;
}

.input-group>.form-control {
    background: transparent;
}

.input-group>.input-group-prepend>.input-group-text {
    background: transparent;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #ced4da;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    margin-top: 18px;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    /* background: #fff; */
    border-color: #ced4da;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.colorpicker {
    display: inline-block;
    margin: 15px;
}