.settings {
    left: 50%;
    margin-left: -300px;
    text-align: center;
    display: block;
    position: absolute;
    width: 600px;
    height: 350px;
    transition: all ease-in 0.5s;
    padding: 15px;
    border-radius: 13px;
    color: #878b90;
}

.form-control {
    color: #878b90;
}

p {
    margin: 0px;
    font-weight: bold;
}

.input-group>.form-control {
    background: transparent;
    color: #878b90;
}

.input-group>.input-group-prepend>.input-group-text {
    background: transparent;
    color: #fff;
}